<%- layout("layouts/boilerplate") %>
<body>
    


<div class="row">
    <div class="alert alert-danger col-6 offset" role="alert">
      <h1><%= err.message %></h1>
      <h3>Error Code <%=err.statuscode %></h3>
 
</div>
</div>
</body>