<%-layout("/layouts/boilerplate") %>
    <div class="box ">
        <form action="/user/signup" method="post" class="needs-validation row-6 g-3 offset-3" novalidate>
            <div class="col-6">
            <label for="Email" >Email</label>
            <input type="text" class="form-control" id="Email" placeholder="Enter your Email" required name="email">
    </div>
            <div class="col-6">
            <label for="username" >username</label>
            <input type="text" class="form-control" id="username" placeholder="Enter your username " name="username" required>
    </div>
            <div class="col-6 mb-3">
            <label for="password" >password</label>
            <input type="text" class="form-control" id="password" placeholder="Enter your password" name="password" required>
    </div>
    <button>Register</button>

        </form>
        </div>
